<h3 style="color:aquamarine;">Update Employee</h3>
<button type="submit" class="btn btn-primary" routerLink="/list-project">Back</button>
<form [formGroup]="projectForm" (ngSubmit)="updateProject()">
  <div class="form-group">
    <label >Name Project</label>
    <!-- <input type="text" class="form-control"  [(ngModel)] = "employee.fullName" name="fullName" > -->
    <input type="text" class="form-control"  formControlName="nameProject"  name="nameProject" >
  </div>

  <div class="form-group">
    <label>Date Start </label>
    <input type="date" class="form-control"  formControlName="dateStart" name="dateStart" >
  </div>
  <div class="form-group">
    <label >Date End</label>
    <input type="date" class="form-control"  formControlName="dateEnd" name="dateEnd" >
  </div>

  <button type="submit" class="btn btn-primary">Update Project</button>
</form>



